:root {
  --primary-color: #52c1c9;
  --secondary-color: #6c63ff;
  --tertiary-color: #f65282;
  --header-color: #272142;
  --subheader-color: rgba(39, 33, 66, 0.7);
  --button-primary: #52c1c9;
  --hover-color: #10b3be;
  --text-color: #2a2a2a;
  --faded-color: #7c7c7ce1;
  --box-shadow: 5px 4px 3px rgba(39, 33, 66, 0.5);
  --text-shadow: 3px 2px 2px rgba(39, 33, 66, 0.2);
  --background-color: rgba(107, 99, 255, 0.075);
  --inquiry-color: rgba(108, 99, 255, 0.2);
}

html,
body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: var(--text-color);
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 55px;
  color: var(--header-color);
  text-shadow: var(--text-shadow);
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: var(--subheader-color);
  padding: 5px;
}

div.bg {
  background-image: url("../img/AbbyCodes-Header3.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 45px 10px;
}

img.hero-img {
  display: inline-flex;
  position: flex;
  flex-direction: flex-start;
  max-width: 450px;
  max-height: 340px;
  margin: 15px 0px 5px 10px;
}

div.hero-text {
  position: flex;
  flex-direction: row;
  text-align: flex-start;
  margin-top: 45px;
}

span.abby {
  color: var(--primary-color);
}

div.contact-btn {
  margin-top: 50px;
}

.btn-primary {
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px;
}

.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background: var(--hover-color);
}

a.active,
#active {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  font-weight: 400;
}

a:hover {
  color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}

.contact {
  background: var(--button-primary);
  color: white;
  border: none;
  border-radius: 3px;
  height: 46px;
  width: 170px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
}

#hero-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#hero-text {
  text-align: center;
  margin: 100px 0px;
}

#text-left {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 20px;
}

#text-right {
  text-align: right;
  margin-top: 50px;
  margin-bottom: 20px;
}

.project-box {
  margin-bottom: 25px;
  position: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

img.project-thumbnails {
  height: 350px;
  width: 350px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 0;
}

img.portrait {
  height: 515px;
  width: 403px;
  border-radius: 20px;
}

h2.name {
  letter-spacing: 3px;
  font-size: 38px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

div.profile {
  margin-top: 20px;
  margin-bottom: 150px;
}

.profile {
  font-size: 14px;
  font-weight: 200;
}

.portfolio {
  font-size: 14px;
  font-weight: 200;
}

#about-me {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.subhead-pink {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: var(--tertiary-color);
  font-weight: 500;
  letter-spacing: 2px;
}

.subhead-teal {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: var(--primary-color);
  font-weight: 500;
  letter-spacing: 2px;
}

div.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px 0px;
  background: rgba(107, 99, 255, 0.075);
}

img.coding {
  width: 300px;
  height: 220px;
  margin: 0 auto;
}

div.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 60%;
}

#contact-box {
  display: flex;
  background: rgba(107, 99, 255, 0.075);
  border-radius: 10px;
  padding: 30px 70px;
  margin-bottom: 55px;
  margin-top: 35px;
}

h3.collab {
  color: var(--primary-color);
  font-size: 33px;
}

p.collab {
  font-weight: 200;
  font-size: 14px;
}

p.quote {
  text-align: center;
  margin-left: 0px;
}

.ux {
  width: 100%;
}

#contact-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 40px;
}

.btn-outline-primary:hover {
  background: var(--hover-color);
  border-color: var(--hover-color);
}

a.email {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  font-size: 19px;
  color: var(--header-color);
  text-decoration: none;
}

a.email:hover {
  color: var(--hover-color);
  text-decoration: none;
}

a.email:visited {
  text-decoration-color: var(--header-color);
  text-decoration: none;
}

footer {
  font-size: 12px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--background-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 10px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  background: var(--primary-color);
  color: white;
}

.centered {
  text-align: center;
}

.copyright {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 200;
  letter-spacing: 2px;
}

.fa-arrow-down {
  color: var(--primary-color);
}

#topBtn {
  position: fixed;
  bottom: 15px;
  float: right;
  right: 18.5%;
  left: 95%;
  width: 100%;
}

img.project-thumb {
  width: 400px;
  height: 400px;
  margin: 20px 0px;
}

hr {
  color: var(--secondary-color);
}

@media (max-width: 767px) {
  img.project-thumb {
    width: 280px;
    height: 280px;
  }

  div.bg {
    background-size: auto;
  }

  #about-me {
    justify-content: center;
    margin-left: 0px;
  }

  .portfolio {
    font-size: 12px;
  }

  #topBtn {
    display: none;
  }

  div.hero-text {
    display: block;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }

  h1 {
    font-size: 38px;
  }

  h4 {
    font-size: 17px;
  }

  p.featured {
    font-size: 13px;
  }

  .contact {
    height: 43px;
    width: 150px;
    font-size: 13px;
  }

  a.email {
    font-size: 17px;
  }

  img.project-thumbnails {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    margin: 0 auto;
    justify-content: center;
  }

  img.sm-portrait {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 0;
  }

  div.profile {
    margin: 0px;
  }

  #project-img {
    margin: 0 auto;
  }

  #text-left {
    text-align: center;
    width: auto;
    margin-top: 30px;
  }

  #text-right {
    text-align: center;
    width: auto;
    margin-top: 30px;
  }

  #hero-text {
    display: none;
  }

  .project-box-top {
    margin-top: 60px;
  }

  .project-box {
    margin-bottom: 25px;
    position: flex;
    flex-direction: row;
    justify-content: center;
  }

  #contact-btn {
    margin-top: 0px;
    width: 150px;
  }

  p.collab {
    font-weight: 200;
    font-size: 14px;
    width: 270px;
  }

  #contact-box {
    padding: 20px 30px;
  }

  .copyright {
    font-size: 10px;
  }

  p.quote {
    display: none;
  }

  img.coding {
    width: 200px;
    height: 140px;
    margin-bottom: 30px;
  }

  div.contact-page {
    width: 100%;
  }

  div.social-links {
    margin: 0 auto;
  }
}

@media (max-width: 990px) {
  img.portrait {
    width: 315px;
    height: 420px;
    margin-top: 20px;
  }

  p.quote {
    margin-left: 40px;
    width: 100%;
  }

  img.project-thumb {
    width: 280px;
    height: 280px;
  }

  #topBtn {
    display: none;
  }
}

@media (max-width: 1200px) {
  p.quote {
    margin-left: 50px;
    width: 100%;
  }
}
