:root {
  --primary-color: #5dbbb5;
  --secondary-color: #6c63ff;
  --tertiary-color: #f65282;
  --text-color: #2a2a2a;
  --box-shadow: 5px 4px 3px rgba(39, 33, 66, 0.6);
  --text-shadow: 3px 3px 3px rgba(39, 33, 66, 0.3);
  --background-color: #ffffff;
  --inquiry-color: rgba(108, 99, 255, 0.2);
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: white;
  text-shadow: var(--text-shadow);
}

div.hero {
  position: flex;
  flex-direction: center;
  justify-content: center;
  text-align: flex-start;
}

div.hero-text {
  margin-top: 150px;
}

span.abby {
  color: var(--primary-color);
}
